---

---

<div
    class="btn-play-audio glitch-container"
    data-allowListeningToAudio
    id="btn-play-audio"
>
    <a>
        <div class="flex flex-row">
            Ambient Audio &nbsp;
            <img
                class="play-icon"
                src="/icons/play-icon.svg"
                alt="play"
                id="btn-play"
            />
            <img
                class="pause-icon"
                src="/icons/pause-icon.svg"
                alt="pause"
                id="btn-pause"
            />
        </div>
    </a>
</div>

<style>
    .flex {
        display: flex;
    }
    .flex-row {
        flex-direction: row;
    }
    .btn-play-audio {
        z-index: 1000;
        position: fixed;
        bottom: 2%;
        right: 2%;
        display: inline-block;

        text-transform: uppercase;
        text-decoration: none;
        box-sizing: border-box;
    }

    .btn-play-audio:hover {
        cursor: pointer;
    }
    :root {
        --gap-horizontal: 10px;
        --gap-vertical: 5px;
        --time-anim: 4s;
        --delay-anim: 2s;
        --blend-mode-1: none;
        --blend-color-1: transparent;
    }
    .glitch-container a,
    a::after {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        font-weight: 900;
        background: linear-gradient(135deg, #fcee0a 95%, transparent 5%);
        border: 0;
        color: #101916;
        padding: 1rem 2rem;
        letter-spacing: 1.8px;
        line-height: 1.25em;
        position: relative;
        text-transform: uppercase;
    }

    .glitch-container a::after {
        width: 100%;
        height: 100%;
        --slice-0: inset(50% 50% 50% 50%);
        --slice-1: inset(80% -6px 0 0);
        --slice-2: inset(50% -6px 30% 0);
        --slice-3: inset(10% -6px 85% 0);
        --slice-4: inset(40% -6px 43% 0);
        --slice-5: inset(80% -6px 5% 0);
        content: "DEVENIR CORSAIRE";
        display: flex;
        position: absolute;
        left: 0;
        top: 0;
        background: linear-gradient(135deg, #fcee0a 95%, #000 5%);
        text-shadow:
            -3px -3px 0 #000,
            3px 3px 0 #ff0;
        clip-path: var(--slice-0);
    }

    .glitch-container a:hover::after {
        animation: glitch 1s;
        animation-timing-function: steps(2, end);
    }

    @keyframes glitch {
        0% {
            clip-path: var(--slice-1);
            transform: translate(-20px, -10px);
        }

        10% {
            clip-path: var(--slice-3);
            transform: translate(10px, 10px);
        }

        20% {
            clip-path: var(--slice-1);
            transform: translate(-10px, 10px);
        }

        30% {
            clip-path: var(--slice-3);
            transform: translate(0px, 5px);
        }

        40% {
            clip-path: var(--slice-2);
            transform: translate(-5px, 0px);
        }

        50% {
            clip-path: var(--slice-3);
            transform: translate(5px, 0px);
        }

        60% {
            clip-path: var(--slice-4);
            transform: translate(5px, 10px);
        }

        70% {
            clip-path: var(--slice-2);
            transform: translate(-10px, 10px);
        }

        80% {
            clip-path: var(--slice-5);
            transform: translate(20px, -10px);
        }

        90% {
            clip-path: var(--slice-1);
            transform: translate(-10px, 0px);
        }

        100% {
            clip-path: var(--slice-1);
            transform: translate(0);
        }
    }
</style>

<script>
    import {
        URL_SONG_CYBERPUNK,
        URL_SONG_EDGERUNNERS,
        URL_SONG_PHANTOMLIBERTY,
    } from "../constants/urls";
    document.addEventListener("DOMContentLoaded", function () {
        let iconplay = document.getElementById("btn-play");
        let iconpause = document.getElementById("btn-pause");

        if (iconplay) {
            iconplay.style.display = "block";
        }
        if (iconpause) {
            iconpause.style.display = "none";
        }

        const btnPlayAudio = document.getElementById("btn-play-audio");
        if (btnPlayAudio) {
            btnPlayAudio.addEventListener("click", toggleAudio);
        }
    });

    let isPlayingAudio = false;
    const audios = {
        "cyberpunk-section": new Audio(URL_SONG_CYBERPUNK) as HTMLAudioElement,
        "edgerunners-section": new Audio(
            URL_SONG_EDGERUNNERS,
        ) as HTMLAudioElement,
        "phantomliberty-section": new Audio(
            URL_SONG_PHANTOMLIBERTY,
        ) as HTMLAudioElement,
    };
    let currentNameAudio = "";
    let listeningToAudio = false;

    window.onscroll = () => {
        var navbar = document.getElementById("navbar");
        if (navbar) {
            if (window.scrollY > 100) {
                navbar.style.backdropFilter = "blur(40px)";
            } else {
                navbar.style.backdropFilter = "none";
            }
        }

        const windowHeight = window.innerHeight;
        document.querySelectorAll("section").forEach((section) => {
            const rect = section.getBoundingClientRect();
            const visibleHeight =
                Math.min(windowHeight, rect.top + section.clientHeight) -
                Math.max(0, rect.top);
            if ((visibleHeight / section.clientHeight) * 100 >= 30) {
                const currentSection =
                    section.getAttribute("id") || "cyberpunk-section";
                console.log(currentSection);
                if (listeningToAudio) {
                    isPlayingAudio = true;
                    playSong(currentSection);
                }
            }
        });
    };

    let currentSection = "cyberpunk-section";

    function toggleAudio() {
        listeningToAudio = !listeningToAudio;
        isPlayingAudio = listeningToAudio;
        if (!listeningToAudio) pauseAllAudios();
        else playSong(currentSection);
    }

    function playSong(section: string) {
        if (currentNameAudio !== section) {
            pauseAllAudios();
            audios[section as keyof typeof audios].play();
            audios[section as keyof typeof audios].loop = true;
            currentNameAudio = section;
        }
        changeIconAudio();
    }

    function pauseAllAudios() {
        Object.values(audios).forEach((audio) => audio.pause());
    }

    function changeIconAudio() {
        const btnPlay = document.getElementById("btn-play");
        if (btnPlay) {
            btnPlay.style.display = isPlayingAudio ? "none" : "block";
        }

        const btnPause = document.getElementById("btn-pause");
        if (btnPause) {
            btnPause.style.display = isPlayingAudio ? "block" : "none";
        }
    }
</script>
