<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p>
                    © 2018 - All Rights with <a
                        href="http://www.technoexponent.com/"
                        target="_blank">Techno Exponent</a>
                </p>
            </div>
        </div>
    </div>
</footer>

<style>
    footer {
        background-color: #000000;
        padding: 20px 0;
        position: relative;
        width: 100%;
        bottom: 0;
    }
    footer p {
        margin: 0;
        text-align: center;
    }
    footer a {
        color: #fffb00;
    }
    footer a:hover {
        color: #000;
    }
    footer a:active {
        color: #000;
    }
    footer a:focus {
        color: #000;
    }
    footer a:visited {
        color: #000;
    }
    footer a:link {
        color: #000;
    }
    footer a:hover {
        text-decoration: none;
    }
    footer a:active {
        text-decoration: none;
    }
    footer a:focus {
        text-decoration: none;
    }
    footer a:visited {
        text-decoration: none;
    }
    footer a:link {
        text-decoration: none;
    }
    footer a:hover {
        color: #000;
    }
    footer a:active {
        color: #000;
    }
    footer a:focus {
        color: #000;
    }
    footer a:visited {
        color: #000;
    }
    footer a:link {
        color: #000;
    }
    footer a:hover {
        text-decoration: none;
    }
    footer a:active {
        text-decoration: none;
    }
    footer a:focus {
        text-decoration: none;
    }
    footer a:visited {
        text-decoration: none;
    }
    footer a:link {
        text-decoration: none;
    }
    footer a:hover {
        color: #000;
    }
    footer a:active {
        color: #000;
    }
    footer a:focus {
        color: #000;
    }
    footer a:visited {
        color: #000;
    }
    footer a:link {
        color: #000;
    }
    footer a:hover {
        text-decoration: none;
    }
    footer a:active {
        text-decoration: none;
    }
    footer a:focus {
        text-decoration: none;
    }
    footer a:visited {
        text-decoration: none;
    }
    footer a:link {
        text-decoration: none;
    }
    footer a:hover {
        color: #000;
    }
</style>
