---
import { URL_VIDEO_EDGERUNNERS } from "../constants/urls";
import VideoSection from "../components/VideoSection.astro";
---

<section
    class="box-edgerunners-section fadein"
    id="edgerunners-section"
    style="position: relative;"
>
    <VideoSection
        nameSection="edgerunners"
        urlVideo={URL_VIDEO_EDGERUNNERS}
        urlImage="/images/Cyberpunk_Edgerunners_logo.png"
        urlCover="/images/covers/cover_edgerunners.png"
    />
    <div class="mx-10">
        <div class="first-text">
            <p>
                CYBERPUNK: EDGERUNNERS ES UNA HISTORIA INDEPENDIENTE DE 10
                EPISODIOS ACERCA DE UN CHICO QUE TRATA DE SOBREVIVIR EN UNA
                CIUDAD FUTURISTA OBSESIONADA CON LOS IMPLANTES TECNOLÓGICOS Y
                CORPORALES.
            </p>
        </div>
    </div>
</section>
<style>
    .first-text p {
        font-size: 2.5rem !important;
        margin-bottom: 1rem;
        text-align: center;
        line-height: 1.1;
        font-weight: 500;
        color: #fcee0a;
        letter-spacing: 1px;
        text-shadow: 0 0 10px rgb(75, 255, 32);
    }
    .fadein {
        opacity: 0;
        transition: all 0.5s;
        transform: translate(0, 200px);
    }

    .fadein.visible {
        opacity: 1;
        transform: translate(0, 0);
    }
    .box-edgerunners-section {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 100;
    }
    .mx-10 {
        margin-left: 10%;
        margin-right: 10%;
    }
    .first-text {
    
        width: 100%;
        height: 80vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        z-index: 900;
    }
    .first-text p {
        font-size: 2.5rem !important;
        margin-bottom: 1rem;
        text-align: center;
        line-height: 1.1;
        font-weight: 500;
        color: #fcee0a;
        letter-spacing: 1px;
    }

    @media (max-width: 768px) {
        .first-text p {
            font-size: 1.5rem !important;
            line-height: normal;
        }
    }
</style>

